* {
  list-style: none;
  a {
    text-decoration: none;
  }
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background: url('../img/gori.jpg') 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-top: 20px;
  &.prokat {
    background: url('../img/invent_banner.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 20px;
  }
  &.order {
    background: url('../img/order_banner.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
    padding-top: 20px;
  }
  &.hotel {
    background: url('../img/hotel.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    h1 {
      color: white !important;
      font-size: 75px !important;
    }
  }
  &.info {
    background: url('../img/gori3.jpeg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    h1 {
      color: white !important;
      font-size: 75px !important;
    }
  }
  &.login_head {
    background: url('../img/bannerreg.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 830px;
    padding-top: 20px;
    h1 {
      color: white;
    }
  }

  .header_info {
    margin: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo_header {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
      }
      h2 {
        color: white;
        font-weight: 700;
        margin-left: 20px;
        max-width: 300px;
        cursor: pointer;
      }
    }
    .header_menu {
      ul {
        display: flex;
        align-items: center;
        li {
          margin-left: 40px;
          .call {
            display: flex;
            text-align: center;
            align-items: center;
            img {
              margin-right: 8px;
            }
          }
          .logout {
            h3 {
              padding: 7px 10px;
              border-radius: 6px;
              background-color: #fff;
              color: red !important;
              &:hover {
                transform: scale(1.1);
              }
            }
          }
          .user {
            display: flex;
            align-items: center;
            img {
              margin-right: 8px;
            }
            h3 {
              color: rgb(255, 255, 255) !important;
              &:hover {
                transform: scale(1);
              }
            }
          }
          a {
            color: white;
            .active {
              border-bottom: 3px solid #fff;
            }
            h3 {
              font-weight: 600;
              font-size: 19px;
              line-height: 30px;
              color: white;
              &:hover {
                border-bottom: 3px solid rgb(255, 255, 255);
                transform: scale(1.1);
                transition: all 0.2s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  .banner_text {
    margin-top: 250px;
    text-align: center;
    &.prokat {
      display: flex;
      justify-content: flex-end;
      margin-top: 130px;
      h1 {
        font-family: 'Russo One', sans-serif;
        font-weight: 900;
        font-size: 80px;
        color: #fff;
        width: 700px;
      }
    }
    h1 {
      font-family: 'Russo One', sans-serif;
      font-weight: 900;
      font-size: 80px;
      color: #2e2e2e;
    }
    h3 {
      font-family: 'Lobster', cursive;
      font-size: 65px;
      color: #f5f5f5;
    }
  }
}

.info_cards {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card {
      width: 466px;
      overflow: hidden;
      height: 350px;
      font-size: 18px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        color: white;
      }
      &:hover {
        z-index: 1;
        transform: scale(1.05);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }
    }
    #card1 {
      background-image: url('../img/invent.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #card2 {
      background-image: url('../img/bus.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #card3 {
      background-image: url('../img/hotel.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #card4 {
      background-image: url('../img/instructor2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #card5 {
      background-image: url('../img/kids.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #card6 {
      background-image: url('../img/gori2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.safety {
  margin-bottom: 60px;
  .container {
    background-color: #e7e7e7;
    padding: 60px 0;
  }
  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 900;
    color: #3a3a3a;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    .card {
      background-color: transparent;
      display: flex;
      align-items: center;
      .icon_safety {
        width: 100px;
        height: 100px;
        border: 3px solid black;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        margin-right: 20px;
      }
      .text_safety {
        width: 200px;
        h3 {
          color: #3a3a3a;
          font-size: 19px;
          letter-spacing: 0.5px;
          margin-bottom: 5px;
        }
      }
      p {
        color: rgb(99, 99, 99);
        font-weight: 700;
        letter-spacing: 0.5px;
      }
      img {
        padding: 5px;
      }
    }
  }
}

.gallery {
  margin-bottom: 60px;
  .container_photo {
    h1 {
      font-family: 'Russo One', sans-serif;
      letter-spacing: 1.3px;
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }
    .add_photo {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        width: 300px;
        align-items: center;
        text-align: center;
        button {
          float: left;
          margin-left: 25px;
          margin-top: 10px;
          padding: 10px 25px;
          border: none;
          border-radius: 6px;
          font-weight: 700;
          font-size: 16px;
          color: white;
          background-color: rgb(40, 101, 243);
        }
      }
    }

    p {
      font-family: 'Russo One', sans-serif;
      text-align: center;
      font-weight: 500;
      a {
        border-bottom: 1px solid #3a3a3a;
      }
    }
    .all_photo {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .card_photo {
        img {
          width: 350px;
          height: 233px;
        }
      }
    }
  }
}

.services_company {
  .services {
    h1 {
      font-family: 'Russo One', sans-serif;
      letter-spacing: 1.3px;
      text-align: center;
      font-weight: 900;
      font-size: 29px;
      margin-bottom: 40px;
    }
    h2 {
      font-family: 'Russo One', sans-serif;
      padding-bottom: 30px;
      border-bottom: 1px solid #b7b7b7;
      letter-spacing: 1.3px;
      text-align: center;
      font-weight: 500;
      font-size: 27px;
      margin-bottom: 30px;
    }
    h3 {
      text-align: center;
      margin-bottom: 60px;
      color: #505050;
    }
    .cards_servises {
      margin: 0 180px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      .card {
        padding: 40px;
        width: 345px;
        background-color: #e9e9e9;
        &:hover {
          transform: scale(1.08);
          background-color: #fff;
          border-top: 10px solid #000;
          transition: transform 0.5s ease-in-out;
          box-shadow: 0px 2px 1px 1px rgb(164, 164, 164);
        }
        border-top: 5px solid rgb(124, 124, 124);
        ul {
          li {
            display: flex;
            margin-bottom: 15px;
            img {
              margin: 0 8px;
            }
          }
          .enabled {
            p {
              font-weight: 500;
              color: black;
            }
          }
          .not_included {
            margin-left: 34px;
            p {
              color: #b7b7b7;
            }
          }
        }
        h3 {
          font-family: 'Russo One', sans-serif;
          letter-spacing: 1px;
          text-align: center;
          font-weight: 700;
          font-size: 22px;
          margin: 20px;
          border-top: 1px solid #b7b7b7;
          padding-top: 20px;
        }
        .button {
          display: flex;
          justify-content: center;
          .button_card {
            cursor: pointer;
            font-weight: 700px;
            font-size: 18px;
            text-align: center;
            color: black;
            border: 3px solid #3a3a3a;
            padding: 7px 15px;
          }
        }
      }
    }
  }
}

.footer {
  .content {
    background-color: rgb(188, 181, 181);
    h1 {
      font-family: 'Russo One', sans-serif;
      text-align: center;
      background-color: white;
      padding-bottom: 20px;
    }
    .bottom {
      font-family: 'Russo One', sans-serif;
      padding: 10px;
      text-align: center;
    }
  }
}

.modal {
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 2;
  justify-content: center;
  position: absolute;
  top: 2500px;
  left: 665px;
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  &.none {
    display: none;
  }
  .full_modal {
    width: 300px;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    .form_modal {
      input {
        width: 250px;
        border: none;
        padding: 10px 15px;
        color: #000;
        border: 1px solid #2e2e2e;
        border-radius: 5px;
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
      }
      button {
        width: 250px;
        cursor: pointer;
        padding: 10px 15px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        color: #f5f5f5;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
.btn_login {
  h3 {
    border-radius: 7px;
    padding: 10px 20px;
    background-color: rgb(30, 190, 8);
  }
}
.btn_reg {
  h3 {
    border-radius: 7px;
    padding: 10px 15px;
    background-color: rgb(50, 123, 242);
    &:hover {
      transform: none;
    }
  }
}
